<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <h1>Formulario</h1>
    <h2>Cargar Productos</h2>
    <form onsubmit="return addProduct(this)">
        <label for="tittle">Nombre</label>
        <input type="text" name="name" id="name">
        <label for="price">Precio</label>
        <input type="number" name="price" id="price">
        <label for="thumbnail">Foto</label>
        <input type="url" name="thumbnail" id="thumbnail">
        <button>Enviar</button>
    </form>
    <hr>
    <div id="products"></div>
    <script src="/main.js"></script>
</body>
</html>