{{#if products.length}}
<h3> Product's List </h3>

<div class="table-responsive">
	<table class="table table-dark">
		<tr style="color: blueviolet">
			<th>Title</th>
			<th>Price</th>
			<th>Picture</th>
		</tr>

		{{#each products}}
		<tr>
			<td>{{this.title}}</td>
			<td>{{this.price}}</td>
			<td>
				<img src="{{this.thumbnail}}" height="50px" />
			</td>
		</tr>
		{{/each}}
	</table>
</div>

{{ else}}
<h2 class="alert alert-warning">No data</h2>
{{/if}}
